.navbar{
    background-color: rgb(53, 60, 195);
    bottom: 50px;
    color:white;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
}